package views

templ Dashboard() {
<div id="dashboard">
	<article>
		<header><b>🗓️ Aktualizacja danych</b></header>
		Prosimy Cię o krótką aktualizację informacji o Twojej organizacji — to pomoże nam lepiej i szybciej nieść pomoc.
		<hr/>
		// <button style="width: 100%;" class="outline" hx-post="/data-confirmation" hx-swap="outerHTML" hx-push-url="true">Uzupełnij dane organizacji</button>

	<details name="charity_update"> // open attr to open
		<summary class="outline" role="button">🗹 Dane adresowe</summary>
		<p>Test testowy</p>
	</details>

	<details name="charity_update">
		<summary class="outline" role="button">□ Kontakty</summary>
		<ul>
			<li>...</li>
			<li>...</li>
		</ul>
	</details>

	<details name="charity_update">
		<summary class="outline" role="button">□ Beneficjenci</summary>
		<p>...</p>
	</details>

	<details name="charity_update">
		<summary class="outline" role="button">□ Źródła żywności</summary>
		<p>...</p>
	</details>

	<details name="charity_update">
		<summary class="outline" role="button">□ Warunki udzielania pomocy żywnościowej</summary>
		<p>...</p>
	</details>

	</article>
</div>
}
