package views

templ Dashboard() {
<div id="dashboard" style="display: flex; flex-direction: column; width: 90%;">
	Tutaj wyświetlić dane organizacji?
	<button hx-post="/data-confirmation" hx-swap="outerHTML" hx-push-url="true">Uzupełnij dane organizacji</button>
</div>
}
