package views

templ Dashboard() {
<div>
	"Welcome to the Dashboard! This is a placeholder for your dashboard content."
	<form action="/logout" method="POST">
		<input type="submit" name="Logout" value="Wyloguj" />
	</form>
</div>
}
