package views


templ Signup() {
	<div style="text-align: center;">
		<h1 style="text-shadow: 3px 3px #ff9a00">Prace trwają - za kilka tygodni będziesz mógł/mogła zarejestrować swoją organizację i aplikować o współpracę z Bankiem Żywności.</h1>
		<hr/>
        <img src="https://fonts.gstatic.com/s/e/notoemoji/latest/1fa8f/512.gif" alt="🪏" width="128" height="128"/>
		<hr/>
		<p>Nie znaleziono aktywnej organizacji, współpracującej z Bankiem Żywności.</p>
	</div>
}