package steps

import "charity_portal/charity_update/queries"

templ WarunkiUdzielaniaPomocy(data queries.WarunkiPomocy, teczkaId int64) {
<form>
  <fieldset class="two-col-form">
    <label for="Kategoria">Kategoria</label>
    <input name="Kategoria" id="Kategoria" type="text" value={ data.Kategoria } />
  </fieldset>

  <input class="secondary" type="submit" value="Zapisz" hx-put="/charity-update/kontakty" hx-target="#wizard" hx-push-url="true" />
</form>
}
