:root {
    --pico-line-height: 1.25 !important;
}

main {
    padding-block: 0 !important;
}

.action-header {
    display: flex;
    justify-content: space-between;
}

.action-header-actions > span {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}
.active {
    border-bottom: 2px solid var(--pico-primary-inverse);
}

.focus-dim {
    box-shadow: 0 0 0 500vmax rgb(0 0 0 / 50%);
    position: relative;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: flex;
}

.htmx-request.htmx-indicator {
    display: flex;
}

.htmx-indicator svg {
    height: 100%;
    width: 100%;
    display: block;
}

@keyframes easeIn {
    from {margin-top:90px; opacity:0}
    to {margin-top:0px; opacity:1}
}

.ease-in {
    animation-name: easeIn;
    animation-duration: .5s;
}

.in-table-file-input [role="button"], [type="file"]::file-selector-button, [type="reset"], [type="submit"] {
    font-size: .7rem !important;
    padding: .2rem .5rem !important;
}
.in-table-file-input {
    font-size: .7rem !important;
}

td select, td input {
    margin: 0;
}
.logo { width: 50px; }
@media (max-width: 768px) { .logo { display: none; } }