@import "ring-chart.css";
@import "dropdown.css";
@import "data-table.css";

:root {
    --pico-line-height: 1.25 !important;
}

main {
    padding-block: 0 !important;
}

.action-header {
    display: flex;
    justify-content: space-between;
}

.action-header-actions > span {
    cursor: pointer;
}

.active {
    background-color: var(--pico-primary-background);
    color: var(--pico-primary-inverse);
    text-decoration: none;
}

.bzsos-logo {
    background-image: url('/img/bzsoslogo.png');
    background-size: contain;
    background-position: center;
    width: 195px;
    height: 80px;
}

@media screen and (max-width: 770px) {
    .bzsos-logo {
        display: none;
    }
}

.focus-dim {
    box-shadow: 0 0 0 500vmax rgb(0 0 0 / 50%);
    position: relative;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: flex;
}

.htmx-request.htmx-indicator {
    display: flex;
}

.htmx-indicator svg {
    height: 100%;
    width: 100%;
    display: block;
}

@keyframes easeIn {
    from {margin-top:90px; opacity:0}
    to {margin-top:0px; opacity:1}
}

.ease-in {
    animation-name: easeIn;
    animation-duration: .5s;
}

.in-table-file-input [role="button"], [type="file"]::file-selector-button, [type="reset"], [type="submit"] {
    font-size: .7rem !important;
    padding: .2rem .5rem !important;
}
.in-table-file-input {
    font-size: .7rem !important;
}