.big-table {
    table-layout:fixed;

    thead th {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    
    th input {
        height:20px;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
    }

    thead th:first-child {
        left: 0;
        position: sticky;
        z-index: 2;
    }

    tr > td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: var(--pico-background-color) !important;
    }
}

.empty-table-message {
    pointer-events:none;
    position: absolute;
    left:0;
    right:0; 
    top: 40%; 
    text-align:center;
}

/*footer*/

.big-table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-table-footer button {
    border:0;
    padding:.25rem;
}

.big-table-footer button div {
    width: 24px;
    display: inline-block;
}

.mailing-button {
    border: 0;
    padding: 0.25rem;
    display: flex;
    align-items: center;
}

.icon {
    width: 24px;
    display: inline-block;
}

.pagination-info {
    margin-right: 0.5rem;
}

.pagination-button {
    border: 0;
    padding: 0.25rem;
}

.pagination-icon {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Indicator styling to hide old content and display shimmers*/

.table-indicator {
    display: none;
}
.htmx-request tbody:not(.table-indicator) {
    display: none;
}
.htmx-request .table-indicator {
    display: contents;
}

/*Shimmers animation*/

@keyframes shimmering {
    0% {
        background-position: -1300px 0;
    }
    100% {
        background-position: 1300px 0;
    }
}

.shimmer {
    animation: shimmering 2.1s linear infinite;
    background: var(--pico-progress-background-color);
    background: linear-gradient(90deg, var(--pico-progress-background-color) 10%, var(--pico-background-color) 90%, var(--pico-progress-background-color) 100%);
    background-size: 1300px 100%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}